#align {
    margin-top: 30px;
}

.title {
    color: white;
}

.size {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.text-white {
    color: #fff;
}

.cardBackground {
    height: 550px;

    background-color: rgb(82, 27, 27);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
